/* Primary Colors */

$prim-blue: hsl(220, 98%, 61%);
$prim-check-bcgrnd: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

/* Light Theme */
$lTheme-very-light-gray: hsl(0, 0%, 98%);
$lTheme-very-light-grayish-blue: hsl(236, 33%, 92%);
$lTheme-light-grayish-blue: hsl(233, 11%, 84%);
$lTheme-dark-grayish-blue: hsl(236, 9%, 61%);
$lTheme-very-dark-grayish-blue: hsl(235, 19%, 35%);

/* Dark Theme */
$dTheme-very-dark-blue: hsl(235, 21%, 11%);
$dTheme-very-dark-desaturated-blue: hsl(235, 24%, 19%);
$dTheme-light-grayish-blue: hsl(234, 39%, 85%);
$dTheme-light-grayish-blue-hover: hsl(236, 33%, 92%);
$dTheme-dark-grayish-blue: hsl(234, 11%, 52%);
$dTheme-very-dark-grayish-blue-1: hsl(233, 14%, 35%);
$dTheme-very-dark-grayish-blue-2: hsl(237, 14%, 26%);

$font-size: 1.125rem;
$fonts: 'Josefin Sans', sans-serif;
$font-normal: 400;
$font-bold: 700;

@import "css-reset";


body {
  font-size: $font-size;
  font-family: $fonts;
  display: grid;
  grid-auto-columns: auto;
  place-content: center;
}

h1 {
  text-transform: uppercase;
  color: $lTheme-very-light-gray;
}

main {
 width: 100vw;
 max-width: 90rem;
 background-color: $dTheme-very-dark-blue;
 padding: 4rem 1.5rem;
}

.todo-input {
  font-size: .85rem;
  font-weight: $font-normal;
  color: $dTheme-light-grayish-blue;
}

form::before {
  content: "";
  border: 1px solid $dTheme-dark-grayish-blue;
  vertical-align: middle;
  border-radius: 50%;
  min-width: .8em;
  min-height: .8em;
  display: inline-block;
}

.todo-input::placeholder {
  font-size: .85rem;
  font-weight: $font-normal;
  color: $dTheme-dark-grayish-blue;
}

.tasks-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  color: $dTheme-light-grayish-blue;
  gap: 1rem;

  form {
    padding: .5rem 1rem;
    width: 100%;
    input {
      background-color: transparent;
      border: transparent;
    }
  }
}

.remove-btn {
  background-color: transparent;
  border: transparent;
}

.tasks-wrapper > * {
  background-color: $dTheme-very-dark-grayish-blue-2;
  border-radius: .5rem;
}

.list-bottom, li {
  padding: 0.8rem 1rem;
}

.todo-list {
  padding: 0;
  margin: 0;
  li {
    
    display: flex;
    justify-content: space-between;
    font-size: .85rem;
    font-weight: $font-normal;
    align-items: center;
  }

  hr {
    margin: 0;
    border: 1px solid $dTheme-very-dark-grayish-blue-1;
  }
  .completed {
    text-decoration: line-through;
  }

  .form-control {
    display: grid;
    grid-template-columns: 1em 1fr;
    gap: 1em;
    width: 100%;
    align-items: center;
    vertical-align: middle;
    span {
      display: inline-flex;
      //display: table-cell;
      vertical-align: text-bottom;
      min-width: 100%;
      pointer-events: none;
      align-items: center;
      min-height: 1.5rem;
      margin: auto 0;
    }
    input[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;
      border: 1px solid $dTheme-dark-grayish-blue;
      border-radius: 50%;
      width: 1.2rem;
      height: 1.2rem;
      pointer-events: none;
      display: grid;
      place-content: center;
    }

    input[type="checkbox"]::before {
      content: "";
      max-width:100%;
      max-height:100%;
      border-radius: 50%;
      width: 1.2rem;
      height: 1.2rem;
      display: grid;
      place-content: center;
    }

    input[type="checkbox"]:checked::before {
      content: url("../images/icon-check.svg");
      background: $prim-check-bcgrnd;
      width: 1.2rem;
      height: 1.2rem;
      text-align: center;
      display: block;
    }

  }
}

.list-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: .8rem;
  font-weight: $font-normal;
  color: $dTheme-dark-grayish-blue;
}

.filter {
  ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0;
    margin: 0;
    justify-content: center;

    li {
      padding: .5rem 0;
    }
    .active {
      color: $prim-blue;
    }
  }

}
input[type="radio"] {
  font-size: .85rem;
  font-weight: $font-bold;
  background: transparent;
  color: $dTheme-dark-grayish-blue;
  border: none;
}